<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.matrix.admin.system.mappers.SysDictTypeMapper">

    <resultMap id="DictTypeVoResult" type="com.matrix.common.vo.system.dict.DictTypeVo">
        <id property="id" column="id"/>
        <result property="typeName" column="type_name"/>
        <result property="needEnum" column="need_enum"/>
        <result property="remarks" column="remarks"/>
        <result property="disable" column="disable"/>
    </resultMap>

    <select id="queryDictType" resultMap="DictTypeVoResult" parameterType="string">
        SELECT
            id, type_name, need_enum, remarks, disable
        FROM
            sys_dict_type
        where
            deleted = 0
            <if test="typeName != null and typeName != '' " >
                and type_name like concat('%',#{typeName},'%')
            </if>
        order by id
    </select>

</mapper>